/* Section Electrodomesticos */

.sectionCartContainer .sectionTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 1.7em;
}
.sectionContainer .sectionTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 1.7em;
}
.sectionContainer {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.sectionContainer .categoryContainer {
    flex-grow: 1;
    width: 700px;
}

