.sectionCartContainer {
    width: 90%;
    margin: 22px auto;
}
.sectionCartContainer .sectionTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 1.7em;
    width: 90%;
    margin: auto;
}
.sectionContainer .sectionTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 1.7em;
}
.sectionContainer {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
}
.sectionContainer .categoryContainer {
    flex-grow: 1;
    width: 700px;
}

.mainContainer .frontPage {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media only screen and (max-width: 990px) {
    .sectionContainer .sectionTitle {
        margin-bottom: 20px;
    }
}
