.itemDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.itemDetail .itemDetailImg {
    width: 400px;
    height: 350px;
    text-align: center;
    object-fit: contain;
}
.itemDetail .itemDetailImg img {
    width: 400px;
    height: 350px;
    object-fit: contain;
}
.itemDetail .itemDetailInfo {
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.itemDetail .itemDetailInfo p {
    margin: 7px;
}
.itemDetail .itemDetailInfo h2 {
    font-weight: 500;
    font-size: 2em;
}
.itemDetail .itemDetailInfo .buttonContainer {
    position: relative;
    width: 80%;
    align-self: center;
}
.buttonBack {
    background-color: #fff;
    border: 2px solid #38f;
    background-color: #38f;
    border-radius: 5px;
    display: block;
    padding: 8px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    cursor: pointer;
    width: fit-content;
}
.buttonBack:hover {
    color: #38f;
    background-color: #fff;
}