.cartContainer {
    margin-top: 30px;
}
.cartContainer .cartTotal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: flex-end;
    gap: 15px;
    padding: 30px 10px;
    background-color: #fff;
    margin-top: 20px;
    padding-right: 50px;
}
.cartContainer .cartTotal p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
}
.buttonConfirmarCompra {
    background-color: #38f;
    border: 2px solid #38f;
    border-radius: 5px;
    display: block;
    padding: 8px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
}


@media only screen and (max-width: 990px) {
    .cartContainer .cartTotal {
        align-items: center;
    }
    .cartContainer .cartTotal p {
        font-size: 1.5em;
    }
    .buttonConfirmarCompra {
        width: 80%;
    }
    
}