.card {
    width: 224px;
    height: 320px;
    border-radius: 4px;
    transition: transform .3s;
    margin: 50px 3px;
    background-color: #fff;
}
.card:hover {
    transform: scale(1.02);
    transition: transform .5s;
    box-shadow: 0 0 15px #888;
}
.card .cardImg {
    width: 224px;
    height: 224px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardImg .miImg {
    width: 204px;
    height: 204px;
    object-fit: contain;
}
.card .cardImg .buttonDetail {
    border: none;
    position: absolute;
    background-color: #38f;
    display: block;
    font-weight: 600;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: 2px solid #38f;
    border-radius: 5px;
    padding: 8px;
}
.card .cardImg .buttonDetail button {
    border: none;
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
    cursor: inherit;
}
.card .cardImg .buttonDetail:hover {
    background-color: #fff;
    color: #38f;
}
.card .cardInfoContainer {
    display: flex;
    flex-direction: column;
}
.card .cardInfo {
    border-top: 1px solid #aaa;
    text-align: center;
}
.card .cardInfo h2 {
    font-family: 'Lato', sans-serif;
    margin-top: 6px;
}
.title h5 {
    padding: 0 15px;
    margin: 10px auto;
    font-size: .9em;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.card .buttonAgregarCarrito {
    background-color: #38f;
    display: block;
    font-weight: 600;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: 2px solid #38f;
    border-radius: 5px;
    padding: 8px;
    margin: 15px auto;
    width: 80%;
}
.card .buttonAgregarCarrito button {
    border: none;
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
    cursor: inherit;
}
.card .buttonAgregarCarrito:hover {
    background-color: #fff;
    color: #38f;
}