
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #38f;
}
.nav div {
    flex-grow: .5;
    text-align: center;
}
.nav div img {
    border-radius: 50%;
    width: 60px;
    height: inherit;
    object-fit: contain;
    padding: 2px;
}
.navBar {
    flex-grow: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.navBarIcons {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navBar .link, .navBarIcons .link {
    text-align: center;
    font-size: .9em;
    color: #fff;
    transition: color .5s;
}
.navBar .active {
    color: #000;
}
.navBarIcons {
    margin-right: 5%;
}
.navBarIcons span {
    margin-left: 7px;
    font-size: .9em;
}
.navBar .link:hover {
    color: #000;
    transition: color .5s;
}
.menuContainer, .iconLogInResponsive, .menuResponsiveLogIn {
    display: none;
}

@media only screen and (max-width: 990px) {
    .nav {
        position: relative;
        z-index: 500;
        display: grid;
        grid-template-rows: 47px auto;
        grid-auto-rows: auto;
        grid-template-columns: 100px 1fr 50px;
    }
    .nav .menuResponsiveLogIn {
        display: block;
        background-color: #000;
        grid-row: 2/3;
        grid-column: 1/5;
        padding: 5px;
        padding-left: 20px;
        font-size: .9em;
        text-align: left;
    }
    .nav .menuResponsiveLogIn h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        color: #fff;
    }
    .nav div {
        flex-grow: 0;
        text-align: center;
        background-color: #38f;
    }
    .navBar {
        display: block;
        position: relative;
        z-index: -1;
        padding-bottom: 15px;
        font-size: 1.2em;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        grid-row: 3/4;
        grid-column: 1/5;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .navBarIcons .iconLogIn {
        display: none;
    }
    .navBar li {
        flex-grow: 1;
        width: 100%;
        border-bottom: 1px solid #999;
        border-top: 1px solid #999;
        display: flex;
        align-items: center;
    }
    .navBar .link, .navBarIcons .link {
        text-align: left;
        width: 100%;
        height: 100%;
        /* padding-left: 20px; */
        color: #000;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
    }
    .navBar .active {
        color: #fff;
        background-color: #73a5eb;
    }
    .navBar .link:hover {
        color: #fff;
    }
    .navBarIcons .linkCart {
        color: #fff;
    }
    .link article {
        text-align: left;
    }
    .link article span {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
    }
    .navBarIcons {
        margin: 0;
        flex-grow: 0;
        height: 100%;
        background-color: #38f;
    }
    .iconLogInResponsive {
        display: block;
    }
    .nav .menuContainer {
        display: block;
        justify-content: flex-end;
        text-align: right;
        background-color: #38f;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menuContainer button {
        border: none;
        background-color: #38f;
    }

    .nav .showMenu {
        animation-name: show;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        transition: animation 1s;
    }
    .nav .hideMenu {
        animation-name: hide;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        transition: animation 1s;
    }


    @keyframes show {
        0% {
            margin-top: -318px;
        }
        25% {
            margin-top: -224px;
        }
        50% {
            margin-top: -168px;
        }
        75% {
            margin-top: -112px;
        }
        100% {
            margin-top: 0px;
        }
    }
    @keyframes hide {
        0% {
            margin-top: -120px;
        }
        25% {
            margin-top: -240px;
        }
        50% {
            margin-top: -360px;
        }
        75% {
            margin-top: -480px;
        }
        100% {
            margin-top: -710px;
        }
    }
}
