.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    background: #38f;
}
.nav div {
    flex-grow: .5;
    text-align: center;
    height: 46.66px;
}
.nav div img {
    width: 60px;
    height: inherit;
}
.navBar {
    flex-grow: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.navBar .link {
    text-align: center;
    font-size: .9em;
    color: #fff;
    transition: color .5s;
}
.navBar .link:hover {
    color: #000;
    transition: color .5s;
}
