.cartList {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 150px 1fr 150px .7fr;
    align-items: center;
    justify-items: center;
    padding: 10px;
    background-color: #fff;
    margin: 5px auto;
}
.cartItemImg {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.cartList p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
}
.conf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}
.cartCountContainer {
    display: flex;
    justify-content: space-between;
    width: 100px;
    border: 1px solid #999;
    padding: 5px 10px;
}
.buttonDelete {
    border: none;
    background-color: #f00;
    padding: 8px;
    color: #fff; 
    font-size: .9em;  
    cursor: pointer;
    border-radius: 5px;
}


@media only screen and (max-width: 990px) {
    .cartList {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .cartList .cartItemImg, .conf,p {
        flex-grow: 1;
    }
    .cartList p {
        text-align: center;
    }
    .conf {
        align-items: center;
        padding: 5px;
    }
    .conf .buttonDelete, .cartCountContainer {
        width: 100%;
        min-width: 190px;
    }
}