.footerContainer {
    background-color: #38f;
    color: #fff;
    height: 150px;
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: flex-end;
}
.footerContainer p:hover {
    color: #000;
    cursor: pointer;
}