.footerContainer {
    background-color: #38f;
    color: #fff;
    height: 150px;
    padding: 10px 30px;
    text-align: center;
}
.socialMediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 90%;
}
.socialMediaContainer .icon {
    font-size: 30px;
    color: #fff;
}
.socialMediaContainer .icon:hover {
    color: #000;
    transition: color .6s;
}