.counterContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
.counterContainer button {
    border: none;
    cursor: pointer;
    background: transparent;
}
.buttonContainer {
    padding: 0 10px;
    position: absolute;
    width: inherit;
}
.cartItem {
    position: relative;
    border: 1px solid #888;
    width: 100px;
}
.buttonContainer .addCart {
    border: 2px solid #38f;
    background-color: #38f;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.buttonContainer .addCart:hover {
    background-color: #fff;
    color: #38f;
}


@media only screen and (min-width: 360px) and (max-width: 990px) {

    .buttonContainer .addCart {
        border: 2px solid #38f;
        color: #fff;
        background-color: #38f;
        border-radius: 5px;
        display: block;
        width: 100%;
        padding: 6px 18px;
        margin: auto;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
    }
}
